.entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p, ul, ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}
/* *********** */
/* THEME STYLE */
/* *********** */
.m-0-i{
	margin: 0 !important;
}
.p-0-i{
	padding: 0 !important;
}
.arrow-up .material-icons{
	font-size: 90px;
    transform: rotate(45deg);
    position: relative;
    bottom: -21px;
	transition: .5s;
}
.arrow-up .material-icons:hover, .arrow-up-sm .material-icons:hover{
    transform: rotate(90deg);
	transition: .5s;
}
.arrow-up-sm .material-icons{
	font-size: 50px;
    transform: rotate(45deg);
    position: relative;
    bottom: -14px;
	transition: .5s;	
}
.arrow-up-sm-rev .material-icons{
	font-size: 50px;
    transform: rotate(-45deg);
    position: relative;
    bottom: -14px;
	transition: .5s;	
}
.arrow-up-sm-rev .material-icons:hover{
    transform: rotate(-90deg);
	transition: .5s;
}
/* *********** */
/* COLOR STYLE */
/* *********** */
.text-green{
    color: #6d9c38;
}
.border-green{
    border-color: #6d9c38;
}
.hover\:bg-green:hover{
    background: #6d9c38;
}
.bg-dark{
	background: #0b1403;
}

/* *********** */
/* MENU STYLE */
/* *********** */
.color-header{
	background: #0b1403;
	transition: .5s;
	color: #0b1403;
}
header {
	transition: .5s;
}
.current-menu-item{
    font-weight: 700;
    color: #6d9c38;
}
.menu-item:hover{
    color: #6d9c38;
    transition: .3s;
}
.nav {
	height: 100px;
}
.nav ul li a{
	height: 100%;
	display: flex;
	align-items: center;
}
.nav .sub-menu {
	display: none;
	position: absolute; 
	top: 100px; /* the height of the main nav */
	background: #6d9c38;
	transition: .3s;
}
.nav .sub-menu a{
	color: #161616;
	padding: 10px 30px;
}
.nav .sub-menu a:hover{
	background: #161616;
	transition: .3s;
	color: #fff;
}
.nav .sub-menu li:nth-child(even) {
	background-color: #0000000a;
  }
.nav ul li:hover > .sub-menu {
	display:inherit;
	transition: .3s;
}
.menu-item-has-children a::after{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f0dd";
	margin-left: 10px;
	transition: .3s;
	position: relative;
	top: -2px;
}
.menu-item-has-children a:hover:after{
	transform: rotate(-45deg);
}
.sub-menu li a::after{
	content: ' ';
}
.sub-menu li{
	margin: 0;
}
@media screen and (max-width: 992px) {
	#primary-menu {
		background: #333;
		height: 95vh;
		position: absolute;
		left: 0;
		right: 0;
		top: 83px;
	}
	.nav ul li{
		height: 80px;
		position: relative;
		display: flex;
		flex-direction: column;
	}
	.nav ul li a{
		justify-content: center;
		font-size: 2rem;
	}
	.nav ul{
		display: grid;
		place-content: center;
		position: relative;
		top: -10%;
	}
	.nav .sub-menu {
		display: block !important;
		position: relative;
		background: transparent;
		transition: .5s;
		top: 0px;
		margin-top: 20px;
	}
	.nav .sub-menu li:nth-child(even) {
		background-color: transparent;
	  }
	.menu-item-has-children{
		height: 100% !important;
	}
	.nav .sub-menu a{
		color: #fff;
		font-size: 1rem;
		line-height: 1;
		text-align: center;
		padding: 0 !important;
	}
	.sub-menu li{
		height: 35px !important;
	}
  }
/* *********** */
/* HAMBURGER STYLE */
/* *********** */
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
	width: 50px;
	height: 35px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
  
#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
	display: block;
	position: absolute;
	height: 7px;
	width: 100%;
	background: #fff;
	border-radius: 7px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
	top: 0px;
}
  
#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
	top: 18px;
}
  
#nav-icon3 span:nth-child(4) {
	top: 36px;
}
  
#nav-icon3.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}
  
#nav-icon3.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
  
#nav-icon3.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
  
#nav-icon3.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}
/* *********** */
/* FONT STYLE */
/* *********** */

.h-font{
    font-family: 'Exo 2', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Exo 2', sans-serif;
}

/* *********** */
/* SERVICE STYLE */
/* *********** */

.service-img::after{
	content: ' ';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #16161682;
	transition: .5s;
}
.service-img:hover:after{
	
	background: #16161654;
	transition: .5s;
}

/* *********** */
/* GALLERY STYLE */
/* *********** */

.gallery-home ul li figure {
	max-height: 350px;
	filter: grayscale(1);
	transition: .5s;
}
.gallery-home ul li figure:hover{
	filter: none;
	transition: .5s;
}

